<div style="margin: 10px;">
    <form>
        <div class="form-group" style="margin: 10px;">
            <label>Tipul cutiei</label>
        </div>

        <div style="margin: 10px;">
            <select class="form-control form-control-sm">
                <option>Carte de identitate</option>
                <option>Pașaport</option>
                <option>Certificat de absolvire a școlii auto</option>
                <option>Adeverință medicală</option>
                <option>Permis de conducere</option>
            </select>
        </div>
       
    
        
        <div style="margin: 10px;">
            <input type="file" class="form-control form-control-sm" required>
            <div class="invalid-feedback">Example invalid form file feedback</div>
        </div>
        
        <button 
        type="submit" 
        class="btn" 
        style="margin: 10px; background-color: #4dbd74; color: white;"
        >
            Încarcă
        </button>
    </form>
</div>