<table style="width: 100%;">
    <tr style="background-color: #f2f2f2;" >
        <td>
        <div class="table-header">
                Avatar
            </div>  
        </td>
        <td style="width: 50%">
            <img src="assets/images/account_picture.jpg" alt="Avatar"  width="100" height="100"/>
        </td>           
    </tr>

    <tr>
        <td>  
            <div  class="table-header">
                Nume
            </div>
        </td>

        <td>
            <div>       
                Donald Trump
            </div>
        </td>
        
    </tr>

    <tr style="width: 100%; background-color: #f2f2f2;" >
        <td>
            <div  class="table-header">
                E-mail
            </div>  
        </td>
    
        <td>
            <div>
                donald.jr.trump@gmail.com
            </div>
        </td>
        
    </tr>

    <tr>
        <td>
            <div  class="table-header">
                Telefon
            </div>  
        </td>
        
        <td>
            <div>
                +40 721 151 512
            </div>   
        </td>
        
    </tr>

    <tr style="width: 100%; background-color: #f2f2f2;" >
        <td>
            <div  class="table-header">
                Data nașterii
            </div>
        </td>

        <td> 
            <div>
                18.08.1944
            </div>
        </td>        
    </tr>

    <tr>
        <td>
            <div class="table-header">
                Tipul cutiei de viteze
            </div>    
        </td>
    
        <td>
        <div>
                Automată
            </div> 
        </td>
        
    </tr>
</table>  
