<p mat-dialog-title>Nume Prenume</p>
<hr>
<div mat-dialog-content>
    <p>
        joi, 14 inauarie: 7:00 - 8:30
        <br>
        Instructor de practică: <b>Nume Prenume</b>
        <br>
        Telefon instructor: <b style="color: #3bb5e2;">0 789 789 789</b>
        <br>
        Număr de înmatriculare: <b>TM 123</b>
        <br>
        Poligon de instruiere: <b>Poligon nr. 1, str. Plaiului 21</b>
    </p>    
</div>

<div mat-dialog-actions>
  <button class="btn btn-light my-custtom-button" mat-dialog-close>Închide fereastra</button>
  <button class="btn btn-danger my-custtom-button" (click)="closeDialog()">Anulează lecția practică</button>
</div>