<div class="main-div">
    
    <span class="title">
            Lista Plăților
    </span>  
    
    <hr>
    

    <table class='table'>
        <thead>
          <tr>
            <th>Data</th>
            <th>Suma</th>
            <th>Serviciu achitat</th>
            <th>Metoda de plată</th>
            <th>Cine a adăugat plata</th>
          </tr>
        </thead>
        <tbody>
            <tr>
                <td>a</td>
                <td>b</td>
                <td>c</td>
                <td>d</td>
                <td>e</td> 
            </tr>    
        </tbody>
      </table>
</div>
