@import "~bootstrap/dist/css/bootstrap.css";

.title {
    font-size: x-large;
}

.main-div {
    width: 90%;
    border: 1px solid #d9e2e5;
    border-top: 2px solid #63c2de;
    padding: 50px;
    margin: 20px;
    background-color: #ffffff;
}

.main-main-div {
    display: flex;
    min-height: 88.5vh;
    flex-direction: column;
}

.payment-method-text {
    background-color: #20a8d8;
    font-size: x-small;
    color: white;
    margin-right: 10px;
}