.title {
    font-size: x-large;
}

.main-div {
    width: 90%;
    border: 1px solid #d9e2e5;
    border-top: 2px solid #63c2de;
    padding: 50px;
    margin: 20px;
    background-color: #ffffff;
}






.table {
    width: 100%;
    border-bottom: 1 solid black;
}