.custom-sidenav-container { 
    top: 64px !important;
} 

.mat-toolbar-display {
    //background-color: #29363d;
}


.custom-div-sidenav-container { 
    bottom: 0;
    height: 100%;
 }
 
 .side-nav {
   // background-color: #29363d;
 }

.sidenav-title {
    text-align: center;
}

.example-spacer {
    flex: 1 1 auto;
}

.avatar-name {
    padding-left: 10px;
    color: black;
    font-size: large;
    font-family: "Times New Roman", Times, serif;
}

.icon-display {
    transform: scale(1.3);
 }

