.custom-sidenav-container { 
    top: 64px !important;
} 

.mat-toolbar-row-display {
    min-height: 50px;
    max-height: 50px;
}  

.mat-toolbar-display {
    min-height: 50px;
    max-height: 50px;
}  

.custom-div-sidenav-container { 
    bottom: 0;
    height: 100%;
 }
 
 .side-nav {
   // background-color: #29363d;
 }

.sidenav-title {
    text-align: center;
}

.example-spacer {
    flex: 1 1 auto;
}

.avatar-name {
    margin-left: 10px;
    color: white;
    font-size: small;
    font-family: Helvetica Neue, Arial, sans-serif;
    cursor: pointer;
}

.avatar-icon-display {
    transform: scale(1.3);
  //  padding-left: 65%;
    cursor: pointer;
 }


 #dropDown {
    margin-left: -25px;
    transform: scale(0.9);
 }

 ::ng-deep {
    .mat-menu-content {
        align-items: center;
        width: 170px;
        border: 2px;
        border-color: #cdd8dd;        
    }
}

::ng-deep {
    .mat-menu-item {
        border: 2px;
        border-color: #cdd8dd;
    }
}
