<div>
  <mat-toolbar color="primary">
    <mat-toolbar-row fxLayout class="mat-toolbar-display">
      <button mat-icon-button>
        <mat-icon  (click)="toggleSideBar()">
          <!-- (click)="sidenav.toggle();" -->
          menu
        </mat-icon>
      </button>
      <h1> <a>FiveDollars</a></h1>
      <span class="example-spacer"></span>
      <mat-icon mat-card-avata class="icon-display">account_circle</mat-icon>
      <h2 class="avatar-name">{{name}}</h2>
    </mat-toolbar-row>
  </mat-toolbar>
</div>


<div>
  <mat-sidenav-container  class="custom-sidenav-container" fullscreen>
    <mat-sidenav class="side-nav"  #sidenav opened="sidenavIsOpened" >
      <mat-nav-list>
        <a mat-list-item>
          <mat-icon>
            tag_faces
          </mat-icon>
          <span *ngIf='sidenavIsOpened'> 
            Date personale
          </span>
        </a>

        <a mat-list-item>	
          <mat-icon>
            payment
          </mat-icon>
          <span *ngIf='sidenavIsOpened'> 
            Plăți
          </span>
        </a>

        <a mat-list-item>
          <mat-icon>
            calendar_today
          </mat-icon>
          <span *ngIf='sidenavIsOpened'> 
            Planificre lecții
          </span>
        </a>      

        <a mat-list-item>
          <mat-icon>
            school
          </mat-icon> 
          <span *ngIf='sidenavIsOpened'> 
            Cursuri
          </span>
        </a>

        <a mat-list-item>
          <mat-icon>
            thumb_up_alt
          </mat-icon>
          <span *ngIf='sidenavIsOpened'> 
            Evaluari
          </span>
        </a>
      </mat-nav-list>
    </mat-sidenav>


    <section>
      <div style="height: 88vh;">
        <router-outlet>

        </router-outlet>
      </div>
    </section>
  </mat-sidenav-container>
</div>
