<div style="height: 86vh;">
    <div class="div-container">
      <div class="div-title">
        <div class="center"> 
          <b>Planificare lecții practice</b>
          </div>   
        </div> 

        <div class="container" style="background-color: white; width: 100%; position: relative;">
            <div class="row">
                <div class="col-md-8">col-sm-8</div>
                <div class="col-md-4">col-sm-4</div>
            </div>
            <div class="row">
                <div class="col-md">col-sm</div>
                <div class="col-md">col-sm</div>
                <div class="col-md">col-sm</div>
            </div>
        </div>
        
        <!-- <div>
          <div style="padding: 20px; padding-left: 0px; height: 250px; width: 250px;">
            <mat-card class="demo-inline-calendar-card">
              <mat-calendar></mat-calendar>
            </mat-card> 
          </div> 
      </div>

      <div>
        <div style="padding: 100px;">
          vasea
        </div>
      </div> -->

    </div>
  </div>