<div style="height: 86vh;">


    <div class="div-container">
      
      
        <div class="title"> 
          Planificare lecții practice
          </div>   
        
        <hr style="margin-left: 10px; margin-right: 10px;">


        <div class="grid-container">
          <div class="grid-child-left">
            <mat-card class="inline-calendar-card">
              <mat-calendar [(selected)]="selected"></mat-calendar>
            </mat-card>
          </div>
          <div class="grid-child-right">
            <div class="title">
              Locuri Libere 
            </div>
            <hr style="margin-left: 10px; margin-right: 10px;">

        </div>
    </div>
  </div>

  
</div>