.div-container {
    width: 95%;
    height: 95%;
    border: 1px solid #cdd8dd;
    margin: 25px;
    margin-bottom: 2px;
}

.div-title {
    text-align: left;
    height:58px;
    border: 1px solid #cdd8dd;
    background-color: #f0f3f5;
    font-size: 1.5rem!important;
    box-sizing: border-box;
    word-wrap: break-word;
    line-height: 1.5;
    color: black;
    text-align: left;
}

.div-content{
    border: 1px solid #cdd8dd;
}

.center {
    margin: auto;
    padding: 10px;
  }