@import "~bootstrap/dist/css/bootstrap.css";

.div-container {
    width: 95%;
    height: 95%;
    border: 1px solid #cdd8dd;
    margin: 25px;
    margin-bottom: 2px;
    background-color: white;
}


.title {
    margin: auto;
    padding: 10px;
    padding-bottom: 1px;
    line-height: 1.5;
    text-align: left;
    font-size: large;

}


.grid-container {
    display: grid;
    grid-template-columns: 0.30fr 1fr;
    grid-gap: 20px;
    background-color: white;
    height: 95%;
    width: 100%;
}


.grid-child-left {
    // border: 2px solid red;
    padding: 20px;
}

.grid-child-right {
    // border: 2px solid red;
    padding: 20px;
}


.inline-calendar-card {
    height: inherit;
}