<div style="margin: 10px;">
    <form>
        <div class="form-group" style="margin: 10px;">
            <label>Tipul cutiei</label>
        </div>

        <select class="form-control form-control-sm" style="margin: 10px;">
            <option>Carte de identitate</option>
            <option>Pașaport</option>
            <option>Certificat de absolvire a școlii auto</option>
            <option>Adeverință medicală</option>
            <option>Permis de conducere</option>
        </select>
    
        <div class="form-group">
            <label for="exampleFormControlFile1" style="margin: 10px;" required>Fișier</label>
            <input type="file" class="form-control-file" id="exampleFormControlFile1">
        </div>
        
    </form>
</div>