<div class="form-div">
    <form  [formGroup]="modifyPasswordForm"> 
    
        <div class="form-group" style="margin: 10px;">
            <label for="_oldPassword">Parola veche</label>
            <input 
            type="password" 
            class="form-control form-control-sm"  
            placeholder="Parola veche" 
            id="_oldPassword"
            formControlName="_oldPassword">
            <span 
            class="invalid-form"
            *ngIf="submitted && modifyPasswordForm.controls._oldPassword?.value == '' && (modifyPasswordForm.controls._oldPassword?.dirty || modifyPasswordForm.controls._oldPassword?.touched)"
            >
                Câmpul necesită a fi completat.
            </span>
            <span 
            class="invalid-form"
            *ngIf="submitted && !modifyPasswordForm.controls._oldPassword?.valid && modifyPasswordForm.controls._oldPassword?.value != '' && (modifyPasswordForm.controls._oldPassword?.dirty || modifyPasswordForm.controls._oldPassword?.touched)"
            >
                Parola introdusă este greșită
            </span>
        </div>

        <div class="form-group" style="margin: 10px;">
            <label for="_newPassword">Parola nouă</label>
            <input 
            type="password"
            class="form-control form-control-sm" 
            id="_newPassword"
            placeholder="Parola nouă" 
            formControlName="_newPassword">
            <span 
            class="invalid-form"            
            *ngIf="submitted && !modifyPasswordForm.controls._newPassword?.valid && (modifyPasswordForm.controls._newPassword?.dirty || modifyPasswordForm.controls._newPassword?.touched)"
            >
                Parola trebuie să fie minim 5 caractere. Parola trebuie sa conțină minim un caracter majuscul. Parola trebuie să conțină minim o cifră.
            </span>
        </div>
        
        <div class="form-group" style="margin: 10px;">
            <label for="confirmPassword">Repetați parola</label>
            <input 
            type="password" 
            class="form-control form-control-sm" 
            id="confirmPassword"
            placeholder="Repetați parola" 
            formControlName="confirmPassword">
            <span 
            class="invalid-form"
            *ngIf="submitted && modifyPasswordForm.controls.confirmPassword?.value == '' && (modifyPasswordForm.controls.confirmPassword?.dirty || modifyPasswordForm.controls.confirmPassword?.touched)"
            >
                Câmpul necesită a fi completat.
            </span>
            <span 
            class="invalid-form"
            *ngIf="submitted && !modifyPasswordForm.controls.confirmPassword?.valid && modifyPasswordForm.controls._newPassword?.value != '' && modifyPasswordForm.controls.confirmPassword?.value != '' 
                && (modifyPasswordForm.controls.confirmPassword?.dirty || modifyPasswordForm.controls.confirmPassword?.touched || modifyPasswordForm.controls._newPassword?.dirty || modifyPasswordForm.controls._newPassword?.touched)">
                Parola reintrodusă nu corespunde.
            </span>
        </div>

        <button 
        type="submit" 
        class="btn" 
        style="margin: 10px; background-color: #4dbd74; color: white;"
        (click)="onSubmit()"
        >
            Modifică parola
        </button>
    </form>
</div>
