

<div class="form-div">
    <form>
        <div class="form-group" style="margin: 10px;">
            <label for="exampleInputEmail1">Adresa de email</label>
            <input type="email" class="form-control form-control-sm" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Indroduceți email-ul" required>
        </div>

        <div class="form-group" style="margin: 10px;">
            <label>Prenumele (ex: Ion) </label>
            <input type="text" class="form-control form-control-sm" placeholder="Indroduceți prenumele" required>
        </div>

        <div class="form-group" style="margin: 10px;">
            <label>Numele (ex: Ciobanu)</label>
            <input type="text" class="form-control form-control-sm"  placeholder="Indroduceți numele" required>
        </div>

        <div class="form-group" style="margin: 10px;">
            <label>Număr telefon</label>
            <input type="text" class="form-control form-control-sm" placeholder="Indroduceți numărul de telefon" required>
        </div>

        <div class="form-group" style="margin: 10px;">
            <label for="birthday">Data nașterei:</label>
            <input 
                class="form-control form-control-sm" 
                type="date"
                id="birthday" 
                min="1940-01-01" max="2020-12-31">
        </div>
        

        <div class="form-group" style="margin: 10px;">
            <label>Tipul cutiei</label>
        </div>

        <select class="form-control form-control-sm" style="margin: 10px;">
            <option>Mecanică</option>
            <option>Automată</option>
        </select>

        <button type="submit" class="btn btn-primary" style="margin: 10px;">Modifică</button>
    </form>
</div>


