<div class="form-div">
    <form>
        <div class="form-group" style="margin: 10px;">
            <label for="exampleInputEmail1">Adresa de email</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Indroduceți email-ul" required>
        </div>

        <div class="form-group" style="margin: 10px;">
            <label for="formGroupExampleInput2">Prenumele (ex: Ion) </label>
            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Indroduceți prenumele" required>
        </div>

        <div class="form-group" style="margin: 10px;">
            <label for="formGroupExampleInput2">Numele (ex: Ciobanu)</label>
            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Indroduceți numele" required>
        </div>

        <div class="form-group" style="margin: 10px;">
            <label for="formGroupExampleInput2">Număr telefon</label>
            <input type="text" class="form-control" id="formGroupExampleInput2"  placeholder="Indroduceți numărul de telefon" required>
        </div>


        <div class="form-group" style="margin: 10px;">
            <label>Tipul cutiei</label>
        </div>

        <select class="form-control" style="margin: 10px;">
            <option>Mecanică</option>
            <option>Automată</option>
        </select>

        <button type="submit" class="btn btn-primary" style="margin: 10px;">Modifică</button>
    </form>
</div>
