<div class="main-container">
    <form>

        <div class="review-container">
            <div class="title-title">
                Evaluarea lecțiilor <br> practice
            </div>

            <div class="title-instruction">
                Apasă culoarea care descrie cel mai bine
                <br>
                instructorul și scrie o scurtă 
                <br>
                descriere pentru fiecare lecție.
            </div>     

            <div class="title-anonym">
                Evaluarea este confidențială (anonim).
            </div>

            <hr>
            
            <div class="content-title">
                Lecția practică de pe data de 20 august 2021, ora 08:30
            </div>

            <p>
                <b>Instructor:</b> Soficiuc Dorin<br>
                <b>Mașina:</b> Dacia Sandero
            </p>

            <button class="green-circle" type="submit"></button>
            <ul>
                <li>Excelent!</li>
                <li>Instructorul NU a stat și s-a uitat în telefon.</li>
                <li>Instructorul Nu a fumat în timpul orelor.</li>
                <li>Mașina curată.</li>
                <li>Atitudine bună.</li>
            </ul>

            <button class="yellow-circle" type="submit"></button>
            <ul>
                <li>Bine!</li>
                <li>Instructorul a stat și s-a uitat în telefon.</li>
                <li>Instructorul a fost amabil.</li>
                <li>Instructorul a fumat în timpul orelor.</li>
                <li>Mașina prăfuită.</li>
            </ul>
            <button class="red-circle" type="submit"></button>
            <ul>
                <li>Nesatisfăcător!</li>
                <li>Mașina prăfuită sau murdară.</li>
                <li>Instructorul a stat și s-a uitat în telefon.</li>
                <li>Instructorul a fost nervos, a ridicat vocea.</li>
                <li>Instructorul a fumat în timpul orelor.</li>
            </ul>
        </div>
    </form>

    <!-- <div class="send-container">
        <button mat-raised-button color="primary" style="margin-left: 40%; margin-right: 40%; margin-top: 10px">
            Trimit Evaluarea
        </button>
    </div> -->
</div>
