<div style="height: 86vh;">
    <div class="div-container">
      <div class="div-title">
        <div class="center"> 
          <b>Lecții practice</b>    
        </div> 
      </div>
      

      <div class="div-table">     
        <div class="total-table-rows">
          <b>Total: 3</b> 
        </div>
        <hr style="margin-top: 1px; padding-top: 1px;">  

        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Data</th>
              <th scope="col">Ora</th>
              <th scope="col">Nume</th>
              <th scope="col">Instructor</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Marți, 5 Octombrie 2021</td>
              <td>09:30-11:00</td>
              <td>Donald Trump</td>
              <td>Georghe Cebotari</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Luni, 4 Noiembrie 2021</td>
              <td>12:00-13:30</td>
              <td>Donald Trump</td>
              <td>Iurie Josan</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Sâmbată, 3 Octombrie 2021</td>
              <td>07:00-08:30</td>
              <td>Donald Trump</td>
              <td>Iurie Josan</td>
            </tr>
          </tbody>


        </table>

      </div>

    </div>
  </div>