<div class="main-main-div">

  <div class="main-div">
      <span class="title">
              Lista Plăților
      </span>  
      
      <hr>
      <div>
        <table class="table">
          <thead>
          <tr>
              <th scope="col">Date</th>
              <th scope="col">Suma</th>
              <th scope="col">Serviciul achitat</th>
              <th scope="col">Metoda </th>
              <th scope="col">Cine a adăugat plata </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor='let payment of payments'>
              <td>{{ payment.date | date:'medium'}}</td>
              <td>{{ payment.sum }} lei</td>
              <td>{{ payment.service }}</td>
              <td>
                  <span class="payment-method-text">
                      &nbsp;&nbsp;{{ payment.paymentMethod }}&nbsp;&nbsp;
                  </span>
              </td>
              <td>{{ payment.payer }}</td>
            </tr>
          </tbody>
        </table>  
      </div>
    
  </div>
</div>
